.fact-form {
	width: 100%;
	background-color: #44403c;
	margin-bottom: 40px;
	padding: 16px 32px;
	display: flex;
	align-items: center;
	gap: 16px;
	border-radius: 16px;

	opacity: 0;
	transform: translateY(-1rem);

	transition: all 0.5s ease-out;

	animation: formAnimation 0.5s forwards;
}

.fact-form span {
	font-weight: 600;
	font-size: 18px;
	margin-right: 18px;
}

.fact-form input:first-child {
	flex-grow: 1;
}

@keyframes formAnimation {
	100% {
		opacity: 1;
		transform: translateY(0rem);
	}
}

@media (max-width: 1000px) {
	/* body {
		padding: 32px 48px;
	} */

	.fact-form {
		flex-direction: column;
		align-items: stretch;
	}

	.fact-form input,
	.fact-form select {
		width: auto;
	}
}
