.fact {
	font-size: 20px;
	line-height: 1.4;
	background-color: #44403c;
	margin-bottom: 16px;
	padding: 16px 24px;
	letter-spacing: -1px;
	border-radius: 16px;

	display: flex;
	align-items: center;
	gap: 24px;
}

.fact p {
	width: 100%;
	text-wrap: wrap;
}

.tag {
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Coiny", sans-serif;
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
}

.vote-buttons {
	margin-left: auto;
	flex-shrink: 0;

	display: flex;
	gap: 8px;
}

.vote-buttons button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.6rem;

	border: none;
	background-color: #78716c;
	font-size: 18px;
	padding: 6px 12px;
	border-radius: 100px;
	color: inherit;
	font-family: inherit;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s;
}

.vote-buttons button:hover {
	background-color: #292524;
}

.vote-buttons button:disabled {
	/* background-color: #44403c; */
	background-color: #514d4d;
}

@media (max-width: 1200px) {
	.fact {
		flex-direction: column;
		align-items: flex-end;
		gap: 12px;
	}
}
